---
import Layout from "../layouts/Layout.astro";

const url = new URL(Astro.request.url);
const contentUrl = `https://humankind-637da-default-rtdb.firebaseio.com/${url.pathname}.json`;
const response = await fetch(contentUrl);
const { interactions } = await response.json();
---

<Layout title="Skipper Bot 🦊">
  {
    Object.values(interactions).map((interaction: { name: string }) => {
      return <p>{interaction.name}</p>;
    })
  }
</Layout>

<style></style>
