---
import Card from "./Card.astro";
import Header from "./Header.astro";

export interface Props {
  title: string;
  description: string;
  id: string;
}

const { title, description, id } = Astro.props;
---

<Card id={id}>
  <div class="titleContainer">
    <Header headerSize="big" id="interactionCardTitle">{title}</Header>
  </div>
  <p class="interactionDescription">{description}</p>
  <div id="addInteractionContainer"></div>
</Card>

<style>
  .titleContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: stretch;
  }
  .interactionDescription {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #addInteractionContainer {
    display: none;
    flex-direction: column;
    gap: 24px;
  }
</style>
